<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Reparation Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Reparation Management System</h1>
    <hr>
    <h2>Save Reparation</h2>

    <form action="#" th:action="@{/savereparation}" th:object="${reparation}"
          method="POST">
        <input type="hidden" th:field="*{idReparation}" />

        <input type="text" th:field="*{dateRep}" placeholder="date Reparation"
               class="form-control mb-4 col-4">
        <input type="text" th:field="*{natureRep}" placeholder="nature Reparation"
               class="form-control mb-4 col-4">
        <input type="text" th:field="*{dateMiseEnService}" placeholder="date Mise En Service"
               class="form-control mb-4 col-4">
        <input type="text" th:field="*{Depenses}" placeholder="Depenses"
               class="form-control mb-4 col-4">

        <input type="text" th:field="*{Vehicule}" placeholder="immatriculation"
               class="form-control mb-4 col-4">
        <input type="text" th:field="*{fournisseur}" placeholder="fournisseur"
               class="form-control mb-4 col-4">





        <button type="submit" class="btn btn-info col-2">Save
            Reparation </button>
    </form>

    <hr>

    <a th:href="@{/reparation}"> Back to Reparation List</a>
</div>
</body>
</html>
