<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Vehicule Management System</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Carte Carburant Management System</h1>
    <hr>
    <h2>Update Carte Carburant</h2>

    <form action="#" th:action="@{/savecartecarburant}" th:object="${carteCarburant}"
          method="POST">

        <input type="text" th:field="*{libelleCarte}" placeholder="Libelle Carte"
               class="form-control mb-4 col-4">



        <button type="submit" class="btn btn-info col-2"> Update Carte Carburant</button>
    </form>

    <hr>

    <a th:href = "@{/cartecarburant}"> Back to Carte Carburant List</a>
</div>
</body>
</html>
